@-webkit-keyframes bubble {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}

@keyframes bubble {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}

body {
  font-family: 'Muli', sans-serif;
}

.mobile-first {
  padding: 1rem;
}

.hero-container {
  z-index: 1;
}

@media (max-width: 1023px) {
  .hero-name {
    padding-bottom: 4rem;
  }
}
/*# sourceMappingURL=index.css.map */